@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Tomasz Pokarowski<br />
    <label title="Phone">P:</label>
    668 379 836
</address>

<address>
    <strong>mail:</strong> <a href="mailto:tomasz.pokarowski@gmail.com">tomasz.pokarowski@gmail.com</a><br />
</address>
